{% extends 'base.html' %} {% block head %}
<title>Subject</title>
{% endblock %} {% block body %}
</div>
</div>
<div class="content">
  <h1>Scores</h1>
  {%if scores|length<1%}
  <h3>No scores found.</h3>
  {%else%}
  <table>
    <tr>
        <th>Subject</th>
        <th>Student Name</th>
        <th>Score</th>
        <th>Class</th>
        <th>Password</th>
    </tr>
    {% for score in scores %}
    <tr>
        <td>{{ score.subject }}</td>
        <td>{{ score.name }}</td>
        <td>{{ score.scoreDecimal }}</td>
        <td>{{ score.student.className }}</td>
        <td>{{ score.student.password }}</td>
    </tr>
    {%endfor%}
  </table>
  {%endif%}
{% endblock %}
</div>
